<div class="dashboard-container">
  <button
    class="dashboard-container-add"
    mat-stroked-button
    color="primary"
    type="button"
    routerLink="/student/add"
  >
    Cadastrar novo contato
  </button>
  <div class="dashboard-container-list">
    <mat-card
      class="dashboard-container-list-item"
      *ngFor="let contact of contactList"
    >
      <mat-card-header class="dashboard-container-list-item-header">
        <mat-card-title-group
          class="dashboard-container-list-item-header-group"
        >
          <mat-card-title>
            {{ contact.firstName }} {{ contact.lastName }}</mat-card-title
          >
          <mat-card-subtitle>{{ contact.phone }}</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
    </mat-card>
  </div>
</div>
